.hero1 {
  padding-top: 100px;
  background-color: var(--hero2-color);
  overflow: auto;
  height: 600px;
  color: var(--primary-color);
}

.hero1-heading {
  max-width: 500px;
  margin: auto;
}

.hero1 .grid h3 {
  font-size: 35px;
}

.hero1 .grid .p {
  font-size: 20px;
  font-weight: bold;
}

.hero1::before,
.hero1::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: -950px;
  right: 0;
  left: 0;
  background-color: var(--primary-color);
  transform: skewY(-2deg);
  z-index: 0;
}
