.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--secondary-color);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.logo {
  font-size: 35px;
  /* border: 5px solid green; */
}
