.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: relative;
}

.showcase h1 {
  font-size: 35px;
}

.showcase p {
  font-size: 17px;
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  overflow: visible;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  width: 100%;
  border-bottom: 1px solid var(--underline-color);
  padding: 3px;
  font-size: 16px;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: var(--secondary-color);
  transform: skewY(-4deg);
  z-index: 0;
}

.showcase-form h2 {
  color: #333;
  font-weight: 500;
}

.showcase-form input:focus {
  outline: none;
}

.showcase-text .btn-outline {
  transition: 0.5s all;
}
.showcase-text .btn-outline:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.showcase-form .btn-primary {
  transition: 0.5s all;
}

.showcase-form .btn-primary:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  /* border: 1px solid var(--primary-color); */
}
